@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@300;500;600;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  font-family: 'Unbounded', sans-serif;
  scroll-behavior: smooth;
}

.bg-custom{
  padding: 0;
  margin: 0;
}

.bg-custom::before,
.bg-custom::after{
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
}

.bg-custom::before{
  background: #000;
  filter: url(#noiseFilter);
}

.bg-custom::after{
  background-color:#bcbffa;
  background-image:
        radial-gradient(at 46% 11%, rgb(211, 153, 252) 0px, transparent 50%),
        radial-gradient(at 17% 74%, hsla(193,80%,76%,1) 0px, transparent 50%),
        radial-gradient(at 86% 97%, rgb(156, 106, 249) 0px, transparent 50%),
        radial-gradient(at 33% 96%, rgb(110, 28, 234) 0px, transparent 50%),
        radial-gradient(at 59% 5%, rgb(243, 197, 184) 0px, transparent 50%),
        radial-gradient(at 34% 74%, hsla(130,95%,65%,1) 0px, transparent 50%),
        radial-gradient(at 23% 59%, hsla(148,98%,77%,1) 0px, transparent 50%),
        url("../public/Noise\ &\ Texture.png"),
        url("../public/Noise\ &\ Texture\ \(1\).png");
}
.h-text{
  writing-mode: vertical-lr;
  display: inline-block;
}
.h-text span{
  text-orientation: mixed;
}



.app {
  scroll-snap-type:y mandatory;
  scroll-snap-stop: start;
}
.app section{
  scroll-snap-align: start;
}